<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Marketstack API output</title>
    <style>
        html {background-color: navajowhite}
        div {text-align: center;}
        table, th, td {margin-left: auto; margin-right: auto; border:
                1px solid black; border-collapse: collapse; padding: 5pt; background-color: whitesmoke}
        tr:hover {background-color: lightgrey;}
        h5 {text-align: center}
    </style>
</head>
<body>
        <form action="/finance">
            <input type="submit" value="Back to previous page" />
        </form>
        <div>
            <h2>Your requested stock information:</h2>
        </div>
        <br>
        <br>
        <h5>Summary of stock performance over selected period:</h5>
        <table>
            <thead>
            <th>Symbol</th>
            <th>% change</th>
            </thead>
            <tbody th:each="symbol, state : ${NumberOfSymbols}">
                <tr>
                    <td th:text="${NumberOfSymbols.get(state.index)}"></td>
                    <td th:text="${Summaries.get(state.index).getClose}"></td>
                </tr>
            </tbody>
        </table>
        <br>
        <br>
        <h5>Full report on stocks over selected period:</h5>
        <div th:each="list, state : ${ListOfLists}">
            <table>
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Exchange</th>
                    <th>Symbol</th>
                    <th>Open</th>
                    <th>High</th>
                    <th>Low</th>
                    <th>Close</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="object : ${ListOfLists.get(state.index)}">
                    <td th:text="${object.getString('date').substring(0, 10)}"></td>
                    <td th:text="${object.getString('exchange')}"></td>
                    <td th:text="${object.getString('symbol')}"></td>
                    <td th:text="${#numbers.formatDecimal(object.getDouble('open'), 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
                    <td th:text="${#numbers.formatDecimal(object.getDouble('high'), 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
                    <td th:text="${#numbers.formatDecimal(object.getDouble('low'), 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
                    <td th:text="${#numbers.formatDecimal(object.getDouble('close'), 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
                </tr>
                <br>
                </tbody>
            </table>
        </div>
</body>
</html>